.adduserform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.formgroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

input {
    background-color: var(--font-color);
    border-radius: 5px;
    color: var(--navbar-color);
    border-color: var(--font-color);
    padding: 3px;
}

.submitButton {
    border-radius: 50px;
    background-color: var(--navbar-color);
    border-color: var(--font-color);
    font-size: large;
    height: 30px;
}