.privatelayout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
}

.header {
    background-color: var(--navbar-color);
    color: var(--font-color);
    padding: 10px;
    text-align: center;
}

.main {
    padding: 20px;
    background-color: var(--background-color);
}

.footer {
    background-color: var(--navbar-color);
    color: var(--font-color);
    padding: 10px;
    text-align: center;
}
