.privatelayout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
}

.header {
    background-color: var(--navbar-color);
    color: var(--font-color);
    padding: 10px;
    text-align: center;
}

.main {
    padding: 20px;
    background-color: var(--background-color);
}

.footer {
    background-color: var(--navbar-color);
    color: var(--font-color);
    padding: 10px;
    text-align: center;
}

.footerInfo {
    display: flex;
    height: 100px;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    background-color: var(--navbar-color);
}
