*{
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.active {
    background-color: var(--font-color);
    color: var(--navbar-color);
    padding: 3px;
}