.navbar {
    display: flex;
    padding: 10px;
    background-color: var(--navbar-color);
    color: var(--font-color);
    justify-content: space-between;
    font-size: large;
}

.navbar nav {
    background-color: var(--navbar-color);
    color: var(--font-color);
    display: flex;
    padding-top: 5px;
    gap: 20px;
}

.button {
    background-color: var(--font-color);
    color: var(--navbar-color);
    border-radius: 10px;
    height: 30px;
    width: 70px;
    font-size: large;
}

.links {
    background-color: var(--navbar-color);
    color: var(--font-color);
}