.employeespage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 10px;
    background-color: var(--background-color);
    color: var(--font-color);
}